<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <form action="{{ collect_data }}" method="post" name="inns-form">
        <input type="file" value="Выбери файл" name="inns" id="inns-file">    
        <input name="inn" id="inn">
        <input type="submit" value='Отправить'>    
    </form>
    <a href="/get-source-code">Get source code</a>
</body>
</html>